<%- include('../partials/header'); %>
    
<div class="container">

    <h5>Account Profile</h5>
    Name: <%= user.first_name %> <%= user.last_name %><br />
    Email: <%= user.email %><br />
    Date Created: <%= user.created_at %><br />
    Date Updated: <%= user.updated_at %><br />

</div>

<%- include('../partials/footer'); %>
