<%- include('../partials/header'); %>

<div class="container">


    <form method="POST" action="/products/<%= itemID %>?_method=PATCH">
        <!-- Name -->
        <div class="form-group">
        <label for="product-name">Product Name</label>
        <input type="text" class="form-control" name="name" id="name" value="<%= item.name %>">
        </div>

        <!-- Price -->
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" name="price" id="price" value="<%= item.price %>">
        </div>

        <!-- Image URL -->
        <div class="form-group">
            <label for="image">Image URL</label>
            <input type="url" class="form-control" name="image" id="image" value="<%= item.image %>">
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" value="<%= item.description %>">
            <!-- <textarea class="form-control" rows="3" name="description" id="description" value="<%# item.description %>"></textarea> -->

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<%- include('../partials/footer'); %>