<%- include('../partials/header'); %>

<div class="container" id="index-page">

    <%# let itemIndex = 0; %>

        <% products.forEach(item => { %>
            <div class="index-container">
                <p>
                    <img src="<%= item.image %>" /><br />
                    <a href="/products/<%= item.slug %>"><b><%= item.name %></b></a><br />
                    <%= '$' + item.price %>
                </p>
                <%# itemIndex += 1 %>
            </div>
        <% }) %>
    
</div>

<%- include('../partials/footer'); %>