<%- include('../partials/header'); %>

<div class="container">

    <% let itemIndex = 0; %>

        <% products.forEach(item => { %>
            <div class="item-container">
                <p><img src="<%= item.image %>" /></p>
                <p><a href="/products/<%= + itemIndex %>"><%= item.name %></a></p>
                <p><%= '$' + item.price %></p>
                <% itemIndex += 1 %>
            </div>
        <% }) %>
    
</div>

<%- include('../partials/footer'); %>