<%- include('../partials/header'); %>

    <article>
        <p><img src="<%= item.image %>" /></p>
        <p>Name: <%= item.name %></p>
        <p>Price: <%= item.price %></p>
    </article>

<%- include('../partials/footer'); %>